<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/common-layout :: header}"></head>
<body>
<bodyheader th:replace="~{fragments/common-layout :: bodyHeader}"></bodyheader>
<div class="container px-4 text-center">
    <div class="row justify-content-md-center">
        <div class="col col-lg-2"></div>
        <div class="col-4">
            <form role="form" action="/login" th:object="${memberLoginForm}" method="post">
                <div class="form-group">
                    <label class="form-label mt-4" for="loginId">로그인 ID</label>
                    <input type="text" th:field="*{loginId}" id="loginId" placeholder="로그인 ID를 입력해주세요."
                           th:class="${#fields.hasErrors('loginId')} ? 'form-control is-invalid' : 'form-control'">
                    <div th:if="${#fields.hasErrors('loginId')}" th:errors="*{loginId}" class="invalid-feedback"></div>
                </div>

                <div class="form-group">
                    <label class="form-label mt-4" for="password">비밀번호</label>
                    <input type="password" th:field="*{password}" id="password" placeholder="비밀번호를 입력해주세요."
                           th:class="${#fields.hasErrors('password')} ? 'form-control is-invalid' : 'form-control'">
                    <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="invalid-feedback"></div>
                </div>
                    <div class="row">
                        <div class="d-grid col-lg-12 mt-4">
                            <button type="submit" class="btn btn-primary">로그인</button>
                        </div>
                        <div class="d-grid col-lg-4 mt-4">
                            <a class="btn btn-info" href="/members/join">회원가입</a>
                        </div>
                        <div class="d-grid col-lg-4 mt-4">
                            <a class="btn btn-secondary" href="">아이디 찾기</a>
                        </div>
                        <div class="d-grid col-lg-4 mt-4">
                            <a class="btn btn-success" href="">아이디 찾기</a>
                        </div>
                    </div>
            </form>
        </div>
        <div class="col col-lg-2"></div>
    </div>
</div>
</body>
<footer th:replace="~{fragments/common-layout :: footer}"></footer>
</html>