<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<footer class="bg-white py-4 mt-auto">
    <div class="container px-5">
        <div class="row align-items-center justify-content-between flex-column flex-sm-row">
            <div class="col-auto"><div class="small m-0">Copyright © EatStory 2024</div></div>
            <div class="col-auto">
                <a class="small" href="https://startbootstrap.github.io/startbootstrap-personal/contact.html#!">Privacy</a>
                <span class="mx-1">·</span>
                <a class="small" href="https://startbootstrap.github.io/startbootstrap-personal/contact.html#!">Terms</a>
                <span class="mx-1">·</span>
                <a class="small" href="https://startbootstrap.github.io/startbootstrap-personal/contact.html#!">Contact</a>
            </div>
        </div>
    </div>
</footer>
</body>
</html>